// import all of partials first
// order is important
@import "modules/reset";
@import "modules/vars";

@import "modules/defaults";
@import "modules/homepage";
@import "modules/projects";
@import "modules/about";
@import "modules/contact";


// general styles

.hidden{
	display: none;
}

.visible { 
    display: block !important; 
}

#container{
	background-color: $dark;
	width: 100%;
}

#mainNav {
	width: 0;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $dark;
	transition: all .7s ease-out;
	display: none;
	opacity: 0%;
	z-index: 5;
}

#mainNav a
{
	color: $white;
	font-size: 26px;
	font-family: $sub-font;
	display: block;
	margin-bottom: 40px;
	margin-left: 30px;
	transition: all .7s ease-out;
}

#mainNav ul
{
	margin-top: 200px;
}

#mainNav a:hover
{
	color: #d0d0d0;
}

main
{
	transition: all .7s ease-out;
}


#logoNav {
	position: fixed;
	top: 40px;
	left: 15px;
	max-width: 80px;
	transition: all .7s ease-out;
	z-index: 10;
	cursor: pointer;
}

#logoNav:hover {
	filter:brightness(1.2);
}


.svgIcon {
	filter: brightness(0.8);
	cursor: pointer;
	transition: all .3s ease-in;
}

.svgIcon:hover {
	filter: brightness(2);
}

.btnHover {
	background: none;
    border: 1px solid $white;
    border-radius: 15px;
	transition: all .7s ease-in;
}

.btnTextHover {
	color: $white;
	transition: all .7s ease-in;
}

.btnHover:hover {
	background-color: rgba($color: $white, $alpha: 0.4);
	color: $mint;
}

.btnTextHover:hover {
	color: $mint;
}
 
footer {
	text-align: center;
	color: $white;
	margin-top: 20px;
	padding-bottom: 30px;
}




// media qieires
@media screen and (min-width: 768px) {
	#logoNav {
		top: 40px;
		left: 45px;
		max-width: 125px;
	}

	footer {
		margin-top: 60px;
	}
}