// import all of partials first
// order is important
@import "modules/reset";
@import "modules/vars";

@import "modules/defaults";
@import "modules/homepage";
@import "modules/projects";
@import "modules/about";
@import "modules/contact";


// z-index order
// #mainNav: 5 
// #logoNav: 10
//  #aboutMe: 5
//  #aboutMe img: 1
// .homeLightbox video: 15
// .galleryImg, .defaultGalleryImg: 5
// .socialMediaHeader: 5
// #homeProjects: -1


// general styles

.hidden{
	display: none;
}

.visible { 
    display: block !important; 
}

#container{
	background-color: $dark;
	width: 100%;
}

#mainNav {
	width: 0;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $dark;
	transition: all .7s ease-out;
	display: none;
	opacity: 0%;
	z-index: 5;
}

#mainNav a
{
	color: #b0b0b0;
	font-size: 26px;
	font-family: $sub-font;
	display: block;
	margin-bottom: 40px;
	margin-left: 30px;
	transition: all .7s ease-out;
}

#mainNav ul
{
	margin-top: 200px;
}

#mainNav a:hover
{
	color: $white;
	text-shadow: 0 0 10px $white;
}

main
{
	transition: all .7s ease-out;
}


#logoNav {
	position: fixed;
	top: 40px;
	left: 15px;
	max-width: 65px;
	transition: all .7s ease-out;
	z-index: 10;
	cursor: pointer;
}

#logoNav:hover {
	filter:brightness(1.4);
}


.svgIcon {
	filter: brightness(0.8);
	border-radius: 50px;
	transition: all .3s ease-in;
	cursor: pointer;
}

.svgIcon:hover {
	filter: brightness(2);
	box-shadow: 0 0 20px $mint;
}

.btnHover {
	background: none;
    border: 1px solid $white;
    border-radius: 15px;
	transition: all .7s ease-in;
}

.btnHover a {
	color: $white;
	transition: all .7s ease-in;
}

.btnHover:hover a {
	color: $mint-glow;
}

.btnHover:hover {
	//background-color: rgba($color: $white, $alpha: 0.3);
	color: $mint-glow;
	text-shadow: 0 0 30px $mint;
}
 

footer {
	text-align: center;
	color: $white;
	margin-top: 20px;
	padding-bottom: 30px;
}




// media qieires
@media screen and (min-width: 768px) {
	#logoNav {
		top: 40px;
		left: 20px;
		max-width: 100px;
	}

	footer {
		margin-top: 60px;
	}
}

@media screen and (min-width: 960px) {
	#logoNav {
		top: 40px;
		left: 45px;
		max-width: 125px;
	}
}