// import all of partials first
// order is important
@import "modules/reset";
@import "modules/vars";
@import "modules/queries";

@import "modules/defaults";
@import "modules/homepage";
@import "modules/projects";
@import "modules/about";
@import "modules/contact";


// general styles

.hidden{
	display: none;
}

.visible { 
    display: block !important; 
}

#container{
	background-color: $bckgrd-color;
	width: 100%;
}

#mainNav {
	width: 0;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $bckgrd-color;
	transition: all .7s ease-out;
	display: none;
	opacity: 0%;
	z-index: 5;
}

#mainNav a
{
	color: $main-color;
	font-size: 26px;
	font-family: $sub-font;
	display: block;
	margin-bottom: 40px;
	margin-left: 30px;
	transition: all .7s ease-out;
}

#mainNav ul
{
	margin-top: 200px;
}

#mainNav a:hover
{
	color: #d0d0d0;
}

main
{
	transition: all .7s ease-out;
}


#logoNav {
	position: fixed;
	top: 60px;
	left: 60px;
	transition: all .7s ease-out;
	z-index: 10;
	cursor: pointer;
}

#logoNav:hover {
	filter:brightness(1.2);
}

.svgIcon {
	cursor: pointer;
	filter: brightness(3);
	filter: saturate(2.5);
	filter: grayscale(0.8);
	transition: all .3s ease-in;
}

.svgIcon:hover {
	filter: brightness(1);
	filter: saturate(1);
	filter: grayscale(0);
}

footer {
	text-align: center;
	color: $main-color;
	margin-top: 60px;
	padding-bottom: 30px;
}