#aboutMe, #education, #languge, #software {
    margin-left: 22vw;
    margin-right: 6vw;
    margin-bottom: 10vh;
}
 
 #aboutMe {
    padding-top: 20vh;
    position: relative;
 }

 #aboutMe h2 {
     font-family: $sub-font;
     font-size: 40px;
     padding-left: 25px;
     border-left: 10px solid $purple;
     margin-bottom: 5vh;
 }

 #aboutMe p {
     width: 60vw;
     font-size: 16px;
     line-height: 28px;
     position: inherit;
     z-index: 5;
 }

 #aboutMe img {
     position: absolute;
     right: 0;
     top: 30vh;
     width: 300px;
     z-index: 1;
     filter: brightness(0.9);
 }

 #education h2, #languge h2, #software h2 {
    font-family: $sub-font;
    font-size: 30px;
    padding-left: 20px;
    border-left: 10px solid $purple;
    margin-bottom: 3vh;
 }

 #education p, #languge p, #software p {
    font-size: 16px;
    line-height: 28px;
 }

 #education:nth-child(2) {
     font-size: 22px;
 }

 #action {
    margin-left: 15vw;
    margin-right: 11vw;
    margin-top: 15vh;
    padding-bottom: 15vh;
    background-color: $dark;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }

 #action h2{
     width: 100vw;
    font-family: $sub-font;
    font-size: 28px;
    margin-bottom: 5vh;
 }
 
 #action p {
    font-family: $main-font;
    font-size: 18px;
 }

 #action a {
     color: $white;
 }

 #action a:hover {
    color: $mint;
}

.btnAction {
    padding: 9px 12px;
    margin: 3vh 20px;
    font-size: 18px;
    background: none;
    border: 1px solid $white;
    border-radius: 15px;
    cursor: pointer;
}




// media qieires
@media screen and (min-width: 768px) {
    #aboutMe, #education, #languge, #software {
        margin-left: 15vw;
        margin-right: 11vw;
    }

    #aboutMe h2 {
        font-size: 48px;
        padding-left: 40px;
    }

    #aboutMe img {
        top: 20vh;
        width: 450px;
    }

    #aboutMe p {
        width: 50vw;
        font-size: 16px;
        line-height: 36px;
    }

    #education h2, #languge h2, #software h2 {
        font-size: 36px;
        padding-left: 30px;
        margin-bottom: 5vh;
     }
    
     #education p, #languge p, #software p {
        font-size: 20px;
        line-height: 36px;
     }

     #education:nth-child(2) {
        font-size: 32px;
    }

    #action h2{
       font-size: 32px;
    }

    #action p {
        font-size: 20px;
     }

     .btnAction {
        padding: 10px 15px;
        margin: 0 20px;
    }
}
