 #contactCon {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     width: 100%;
     margin-left: 22vw;
     margin-right: 6vw;
 }

 #contactCon h3 {
     width: 70vw;
     font-size: 16px;
     line-height: 28px;
     margin-top: 20vh;
     margin-bottom: 10vh;
 }

 #contactInfo {
     width: 30vw;
 }

 #contactInfo label, legend {
     font-family: $sub-font;
     font-size: 18px;
 }

 legend {
    margin-bottom: 20px;
 }

.radioChoice {
    font-family: $main-font !important;
    font-size: 18px !important;
}

 #contactInfo input,  #contactInfo textarea {
    border-top: none;
	border-left: none;
	border-right: none;
    border-bottom: 2px solid $purple;
    background-color: rgba(0,0,0,0);
    height: 30px;
    color: $purple;
    font-size: 16px;
    margin-bottom: 40px;
 }

 #contactInfo input:focus,  #contactInfo textarea:focus {
    outline: none;
 }

 #comment {
     width: 50vw;
 }

 ::placeholder { 
    color: #8E8B97;
    opacity: 1;
  }
  
  :-ms-input-placeholder { 
    color: #8E8B97;
  }
  
  ::-ms-input-placeholder { 
    color: #8E8B97;
  } 


 #btnSend {
    display: block;
    font-size: 22px;
    padding: 15px 25px 30px 25px;
    color: $white !important;
    border-style: none !important;
    border: 1px solid $white !important;
    border-radius: 15px;
    transition: all .7s ease-in;
    cursor: pointer;
  }

 #btnSend:hover {
    color: $mint-glow !important;
	text-shadow: 0 0 30px $mint;
 }

 #contactMediaCon {
      width: 30%;
      min-height: 30vh;
      position: absolute;
      top: 35vh;
      right: 0;
}

 #contactMedia {
      background-color: rgba(168, 27, 141, 0.65);
      width: 30vw;
      margin-bottom: 20vh;
      padding-right: 200px;
  }

#contactMedia h3 {
    font-size: 16px;
    width: 25vw;
    padding-top: 20px;
    padding-left: 30px;
  }

#socialMediaContact {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-bottom: 20px;
}

#socialMediaContact img {
    width: 25px;
    margin: 0 5px;
}

#contactDeco {
    display: none;
}





@media screen and (min-width: 768px) {

    #contactCon {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 15vw;
        margin-right: 11vw;
    }

    #contactCon h3 {
        width: 70vw;
        font-size: 20px;
        line-height: 28px;
        margin-top: 20vh;
        margin-bottom: 10vh;
    }

    #contactInfo label, legend {
        font-size: 22px;
        padding-right: 15px;
    }
    #contactInfo input,  #contactInfo textarea {
        font-size: 18px;
    }

    #comment {
        width: 25vw;
    }

    #contactMediaCon {
        width: 45%;
    }

    #contactMedia h3 {
        font-size: 18px;
        width: 40vw;
    }

    #socialMediaContact img {
        width: 30px;
    }

    #contactDeco {
        display: block;
        margin-left: 100px;
    }
}
  