#socialMediaHeader {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 60px;
    left: 135px;

}

#socialMediaHeader img {
    height: 25px;
}

#hero {
    background: url('../images/hero.jpg') center no-repeat;
	background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#heroLogo {
    margin-top: 50vh;
    margin-left: auto;
    margin-right: 10vw;
    max-width: 100%;
    border-left: 10px solid $sub-color;
    padding-left: 30px;
    // position: relative;
}

// #heroLogo::before {
//     content:'';
//     display: block;
//     height: 30px;
//     width: 30px;
//     background-color: $sub-color;
//     position: absolute;
//     right: 20px;
// }

#hero h2 {
    font-size: 22px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 10vw;
}

//--------video lightbox-----

#btnPlay {
    margin: 20px 10vw 10vh auto;
    max-width: 75px;
    cursor: pointer;
}

.homeLightbox {
    display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	align-items: center;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.homeLightbox a
{
	text-decoration: none;
}

.show-lightbox 
{ 
	display: flex; // the flexbox is to center the video
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 auto; 
}

.close
{
	font-size: 30px;
	color: #fff;
	position: absolute;
	right: 5%;
    top: 5%;
    cursor: pointer;
}

.homeLightbox video {
     max-width: 65%;
     z-index: 5;
     padding-top: 10vh;
}
//--------end of video lightbox-----

#homeProjects {
    // background: url('../images/home-projects.jpg') center no-repeat;
    // background-size: cover;
    margin: 20vh 11vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

#homeProjects a {
    color: $main-color;
}

#homeProjects h2 {
    font-size: 32px;
    padding: 15px 20px;
    border: 2px solid $main-color;
    border-radius: 5px;
    position: absolute;
    top: 150px;
    transition: all .3s ease-in;
}

// to restrict the width of image
#homeProjects img {
    width: 100%;
}

#homeAction {
    margin-top: 15vh;
    margin-left: 11vw;
    margin-right: 11vw;
    padding-bottom: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#homeAction img {
    clip-path: circle(50% at 50% 50%);
}

#profileHome {
    margin-right: 3vw;
}

#homeAction p {
    width: 30vw;
    font-size: 24px;
    line-height: 36px;
}

#homeAction ul {
    margin-left: auto;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#homeAction ul img {
    width: 40px;
    height: 40px;
}