#socialMediaHeader {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    top: 40px;
    left: 115px;
}

#socialMediaHeader img {
    height: 25px;
}

#hero {
    background: url('../images/hero.jpg') center no-repeat;
	background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#heroLogo {
    margin-top: 45vh;
    margin-left: auto;
    margin-right: 10vw;
    max-width: 60%;
    border-left: 10px solid $purple;
    padding-left: 30px;
    // position: relative;
}

// #heroLogo::before {
//     content:'';
//     display: block;
//     height: 30px;
//     width: 30px;
//     background-color: $purple;
//     position: absolute;
//     right: 20px;
// }

#hero h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 10vw;
}

//--------video lightbox-----

#btnPlay {
    margin: 20px 10vw 10vh auto;
    max-width: 50px;
    cursor: pointer;
}

.homeLightbox {
    display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	align-items: center;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.homeLightbox a
{
	text-decoration: none;
}

.show-lightbox 
{ 
	display: flex; // the flexbox is to center the video
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 auto; 
}

.close
{
	font-size: 30px;
	color: #fff;
	position: absolute;
	right: 5%;
    top: 5%;
    cursor: pointer;
}

.homeLightbox video {
     max-width: 100%;
     z-index: 15;
     padding-top: 10vh;
     padding-bottom: 50vh;
}
//--------end of video lightbox-----

#homeProjects {
    // background: url('../images/home-projects.jpg') center no-repeat;
    // background-size: cover;
    margin: 20vh 11vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

#homeProjects button {
    padding: 9px 12px;
    position: absolute;
    top: 75px;
}

#homeProjects button a {
    color: $white;
    font-size: 24px;
    font-family: $main-font;
}

#homeProjects button a:hover {
    font-size: 20px;
    color: $mint;
}

// to restrict the width of image
#homeProjects img {
    width: 100%;
}

#homeAction {
    margin-top: 15vh;
    margin-left: 5vw;
    margin-right: 11vw;
    padding-bottom: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#homeAction img {
    clip-path: circle(50% at 50% 50%);
}

#profileHome {
    margin-right: 3vw;
    width: 90px;
}

#homeAction h3 {
    width: 50vw;
    font-size: 14px;
    line-height: 36px;
    margin-left: 2vw;
    margin-right: 2vw;
}

#homeAction ul {
    margin-left: auto;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#homeAction ul li {
    margin-bottom: 25px;
}

#homeAction ul img {
    width: 30px;
    height: 30px;
}




// media queries
@media screen and (min-width: 768px) {
    #socialMediaHeader {
        height: 100px;
        top: 40px;
        left: 200px;
    }

    #heroLogo {
        max-width: 447px;
    }

    #hero h2 {
        font-size: 22px;
    }

    #btnPlay {
        max-width: 75px;
    }

    .homeLightbox video {
        max-width: 65%;
    }

    #homeProjects button {
        padding: 15px 20px;
        top: 150px;
    }

    #homeProjects button a {
        font-size: 32px;
    }

    #homeProjects button a:hover {
         font-size: 28px;
    }

    #profileHome {
        width: 160px;
    }

    #homeAction {
        margin-left: 11vw;
    }

    #homeAction h3 {
        font-size: 22px;
        line-height: 32px;
    } 

    #homeAction ul {
        height: 80px;
    }

    #homeAction ul img {
        width: 40px;
        height: 40px;
    }
}