#projectCon {
    min-height: 100vh;
}
 
 #projectNavCon {
     display: flex;
     flex-direction: column;
     position: fixed;
     left: 0;
     top: 35vh;
 }

 #projectNavCon img {
     width: 120px;
     margin-bottom: 10px;
     margin-left: -20px;
     transition: all .5s ease-out;
     cursor: pointer;
 }

 #projectNavCon img:hover {
     margin-left: 0;
     filter: brightness(1.5);
 }

//  #btnLeft {
//      position: fixed;
//      bottom: 10vh;
//      left: 60px;
//      width: 75px;
//      cursor: pointer;
//  }

//  #btnRight {
//     position: fixed;
//     bottom: 10vh;
//     right: 60px;
//     width: 75px;
//     cursor: pointer;
// }

#projectPanel {
    margin-left: 22vw;
    margin-right: 6vw;
    display: none;
}

#projPic1 {
    max-width: 100%;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

#projTitle {
    font-family: $sub-font;
    font-size: 40px;
    padding-left: 25px;
    border-left: 10px solid $sub-color;
    margin-bottom: 5vh;
}

#projectPanel p {
    line-height: 28px;
    font-size: 16px;
}

#projPart2 {
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projPic2 {
    max-width: 300px;
}

#projPart2 p {
    margin-left: 0;
    margin-top: 5vh;
}

#projPart3 img {
    padding-left: 10vw;
    border-left: 10px solid $sub-color;
    margin-bottom: 10vh;
}

#projPart3 {
    padding-bottom: 10vh;
    background-color: $bckgrd-color;
}

#projVideo {
    width: 67vw;
}

#projPart3 p {
    margin-top: 10vh;
}

#galleryCon {
    margin-top: 10vh;
}

#galleryCon img {
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all .3s ease-in;
}

#galleryCon img:hover {
    filter: brightness(1.2);
}

.galleryLightbox {
    display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	align-items: center;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.galleryLightbox a
{
	text-decoration: none;
}

.showLightbox 
{ 
	display: flex; // the flexbox is to center the video
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 auto; 
}

.closelb
{
	font-size: 30px;
	color: #fff;
	position: absolute;
	right: 5%;
    top: 5%;
    cursor: pointer;
}

.galleryImg {
     max-width: 65%;
     z-index: 5;
     padding-top: 10vh;
}





@media screen and (min-width: 768px) {
    #projectNavCon img {
        width: 150px;
    }
    #projectPanel {
        margin-left: 20vw;
        margin-right: 13vw;
    }

    #projPic1 {
        margin-top: 20vh;
        margin-bottom: 15vh;
    }

    #projTitle {
        font-size: 60px;
        padding-left: 30px;
        margin-bottom: 10vh;
    }

    #projectPanel p {
        line-height: 36px;
        font-size: 18px;
    }

    
}


@media screen and (min-width: 960px) {
    #projectNavCon img {
        width: 220px;
    }

    #projPart2 {
        flex-direction: row;
    }

    #projPart2 p {
        margin-left: 30px;
        margin-top: 0;
    }
}