$white: #f0f0f0;
$purple: #A81B8D;
$dark: #0D0C11;
$mint: #14efdd;
$mint-glow: #54ebdf;

$main-size: 18px;

$main-font: 'Roboto', arial, sans-serif;
$sub-font:'Oswald', arial, sans-serif;

//transition: all .7s ease-in;


